<<<<<<< HEAD
/* body{
  margin-top: 85px;
} */

.img {
  display: block;
  position: fixed;
  background-position: center !important;
  width: 100%;
}

.custom{
  text-align: center;
  font-size: 500%;
  font-weight: 600;
  margin-top: 200px;
}
=======
body{
  margin-top: 85px;

}

>>>>>>> 283557d8c048ddbcc4d6fe24abeaa0507bccd44a
